<div><%= flash[:notice] %></div>

<h1>User info</h1>
<!-- ユーザーの詳細 -->

<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->

    <div class="col-md-3">
      <div class="profile-container">
        <%= render "profile", user: @user %>
        <%= render "books/form", book: @book %>

      </div>
    </div>
      

    <div class="col-md-8 offset-md-1">  
      <H2>Books</H2>

    <%= render 'books/list', books: @books %>

  </div>
</div>